# MacOS
.DS_Store

# Tmux Plugins
**/tmux/plugins

# Zsh Extensions
**/zsh/.zcompdump*
**/zsh/.zcompcache
**/zsh/.zsh_history
**/zsh/.zsh_sessions

config/nvim/lazy-lock.json
config/.copilot/config.json
.bak

# Codex
**/codex/*.sqlite*
**/codex/sessions
**/codex/tmp
**/codex/shell_snapshots
**/codex/skills/.system
**/codex/*json*
**/codex/cache
**/codex/.vscode
**/codex/.personality_migration
**/codex/installation_id
**/codex/AGENTS.md
**/codex/plugins
**/codex/sqlite
**/codex/vendor_imports
**/codex/computer-use
**/codex/browser
**/codex/memories
**/codex/rules

# OpenCode
node_modules/
**/opencode/package.json 
**/opencode/package-lock.json
