# MacOS
.DS_Store

# Tmux Plugins
**/tmux/plugins

# Zsh Extensions
**/zsh/.zcompdump*
**/zsh/.zcompcache
**/zsh/.zsh_history
**/zsh/.zsh_sessions

config/nvim/lazy-lock.json
config/.copilot/config.json
.bak

# Codex
/config/codex/*
!/config/codex/*config.toml
!/config/codex/agents/
!/config/codex/skills/
!/config/codex/.codexignore
/config/codex/skills/.system/

# OpenCode
node_modules/
**/opencode/package.json 
**/opencode/package-lock.json
